.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.feedItem {
  border: 1px solid grey;
  margin: 10px;
  border-radius: 10px;
}

.sidebar {
  height: 90vh;
  margin-left: 1em;
}

.paginate-container {
  cursor: pointer;
  font-size: 0.9em;
  overflow-x: auto;
  text-align: center;
}

.feed {
  height: 90%;
  overflow-y: auto;
}

.missing {
  color: #7f8c8d
}